// ==================================== //
// Default
// ==================================== //
$shadow: 0px 3px 12px 0px rgba(104, 113, 134, 0.2);

// ==================================== //
// Font color for theme
// ==================================== //
$material-font-light-theme: #8d97ad;

// ==================================== //
// Lighten Colors
// ==================================== //
$success-lighten-5: #e1f3e5 !default;
$success-lighten-4: #f2f9f4 !default;
$info-lighten-5: #e5f4fb !default;
$warning-lighten-5: #fdf6e3 !default;
$error-lighten-5: #fce2e5 !default;
$primary-lighten-5: #e6edfd !default;
$accent-lighten-5: #f4e6fd !default;

// ==================================== //
// Colors
// ==================================== //
$light-blue: #5b6987;
$light-blue-1: #2d6adf;
$blue: #0164d3;
$danger: #ff4d7e;
$success: #2cdd9b;
$warning: #fec500;
$primary: #316ce8;
$gray-100: #e5e7ec;
$gray-200: #f3f5f8;
$gray-300: #c4c8ce;
$gray-400: #c6cbd6;
$gray-500: #8d97ad;
$white: #ffffff;
$accent: #607df9;
$light: #f4f8fa;
$dark: #263238;
$orange: #ff6a5b;

$danger-dark: #d73e6b;
$success-dark: #1dc8cc;
$warning-dark: #dcaf17;
$primary-dark: #345bcb;
$info-dark: #2c73cb;
$red-dark: #d61f1f;
$inverse-dark: #232a37;

/*===================================
              Header
====================================*/
$nav-link-height: 75px;
$nav-link-padding: 15px 15px;
$nav-sublink-padding: 15px 15px;
$nav-link-font-size: 17px;
$nav-link-font-color: $white;
$nav-link-font-hover-color: $blue;
$nav-link-font-family: "DM Sans", sans-serif;

/*===================================
        Heading Fonts
====================================*/
$heading-color: #3e4555;

// Border
$border-color: #e5e7ec;


