<template>
  <v-container class="container-content">
    <!-- -----------------------------------------------
            Start Contact
        ----------------------------------------------- -->
    <v-row class="main-content" justify="center">
      <v-col cols="7" class="pr-0">
        <v-img
          class="image-bicycle"
          :src="require('@/assets/images/bicycle.png')"
        />
      </v-col>
      <v-col cols="5" class="pl-0">
        <v-form ref="form" v-model="valid" lazy-validation>
          <div class="title-Contact">ติดต่อเรา</div>
          <div class="test">
            <v-text-field
              v-model="name"
              label="ชื่อ-นามสกุล"
              class="text-input"
            ></v-text-field>
          </div>
          <v-text-field
            v-model="phone"
            label="เบอร์ติดต่อ"
            class="text-input"
          ></v-text-field>
          <v-text-field
            v-model="email"
            label="อีเมล"
            class="text-input"
          ></v-text-field>
          <v-menu
            v-model="menu"
            :close-on-content-click="false"
            :nudge-right="40"
            transition="scale-transition"
            offset-y
            min-width="auto"
          >
            <template #activator="{ on, attrs }">
              <v-text-field
                v-model="datetime"
                label="วันที่"
                append-icon="mdi-calendar"
                readonly
                v-bind="attrs"
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker
              v-model="datetime"
              locale="th-TH"
              @input="menu = false"
            ></v-date-picker>
          </v-menu>
          <div class="dummy-text">Lorem Ipsum is simply dummy text</div>
          <div class="dummy-text">Lorem Ipsum is simply dummy text</div>
          <div class="submit">
            <v-btn class="btn-send" @click="submit"> lorem </v-btn>
          </div>
        </v-form>
      </v-col>
    </v-row>
    <!-- -----------------------------------------------
            End Contact
        ----------------------------------------------- -->
  </v-container>
</template>
<script>
export default {
  name: 'ContactPage',
  data() {
    return {
      name: '',
      phone: '',
      email: '',
      datetime: '',
      menu: false,
    }
  },
}
</script>

<style lang="scss" scoped>
.container-content {
  padding: 0px 150px 0px 150px;
}

.image-bicycle {
  position: absolute;
  width: 670px;
  height: 423px;
}

.main-content {
  margin-top: 20%;
  margin-bottom: 20%;
}

.title-Contact {
  font-weight: 600;
  font-size: 60px;
  line-height: 73px;
  text-transform: capitalize;
  color: #ffffff;
}

.text-input {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ededee;
}

.dummy-text {
  left: 1.33%;
  right: 0%;
  top: 55.99%;
  font-weight: 400;
  font-size: 16px;
  line-height: 140.9%;
  color: #ffffff;
}

.submit {
  padding-top: 10%;
}

.btn-send {
  width: 290px;
  height: 56px;
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  color: #000000;
  background: linear-gradient(180deg, #dee34b 0%, #d9ef0c 35.94%, #87a30d 100%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
  border-radius: 50px;
}
</style>
