<template>
  <v-carousel height="1000" show-arrows hide-delimiters>
    <template #prev="{ props }">
      <v-btn tile small color="#C4C4C4" class="btn-left" @click="props"
        ><v-icon>mdi-arrow-left</v-icon></v-btn
      >
    </template>
    <template #next="{ props }">
      <v-btn tile small color="#D9EF0C" class="btn-right" @click="props"
        ><v-icon>mdi-arrow-right</v-icon></v-btn
      >
    </template>
    <v-container class="container-content">
      <!-- -----------------------------------------------
            Start Section 2
        ----------------------------------------------- -->
      <!-- <v-carousel-item> -->
      <v-row class="main-section2" justify="center">
        <div class="title-section-2">
          <span> lorem </span>
          <span> ipsum </span>
          <span class="text-color-section-2"> lorem </span>
        </div>
      </v-row>
      <v-row class="row-image-section2" justify="center">
        <div class="image-main-section2">
          <v-img
            class="image-section2"
            :src="require('@/assets/images/section2.png')"
          />
        </div>
      </v-row>
      <div class="sub-title1-section-2">Lorem Ipsum is simply</div>
      <div class="sub-title2-section-2">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book.
      </div>
      <!-- </v-carousel-item> -->
      <!-- -----------------------------------------------
            End Section 2
        ----------------------------------------------- -->
    </v-container>
  </v-carousel>
</template>
<script>
export default {
  name: 'SectionPage2',
  data() {
    return {
      name: 'Section2',
    }
  },
}
</script>

<style lang="scss" scoped>
.container-content {
  padding: 0px 150px 0px 150px;
}

.btn-left {
  width: 54.26px;
  height: 55px;
  color: #000;
  border: solid #000000;
}

.btn-right {
  width: 54.26px;
  height: 55px;
  color: #000;
}

.main-section2 {
  padding-top: 20%;
}

.text-color-section-2 {
  color: #d9ef0c;
}

.title-section-2 {
  font-weight: 700;
  font-size: 60px;
  line-height: 73px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.row-image-section2 {
  padding-top: 8%;
  margin: 0px;
}

.image-main-section2 {
  margin: 0px;
  width: 15%;
  height: 15%;
}

.image-section2 {
  width: 100%;
  height: 100%;
}

.sub-title1-section-2 {
  padding-top: 8%;
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
}

.sub-title2-section-2 {
  padding: 20px 210px 20% 210px;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
}
</style>
