<template>
  <v-container class="container-content">
    <!-- -----------------------------------------------
            Start Section 1
        ----------------------------------------------- -->
    <v-row class="main-section1" justify="center">
      <v-col cols="4" class="pr-0">
        <div class="title-1">lorem</div>
        <div class="title-2">ipsum</div>
        <div class="sub-title-1">
          Lorem Ipsum is simply Lorem Ipsum is simply Lorem Ipsum is simply
        </div>
        <div class="sub-title-2">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's
        </div>
      </v-col>
      <v-col cols="8" class="pl-0">
        <v-img class="image-bicycle" :src="require('@/assets/images/bicycle.png')"/>
      </v-col>
    </v-row>
    <!-- -----------------------------------------------
            End Section 1
        ----------------------------------------------- -->
  </v-container>
</template>
<script>
export default {
  name: 'SectionPage1',
}
</script>

<style lang="scss" scoped>
.container-content {
  padding: 0px 150px 0px 150px;
}

.image-bicycle {
  position: absolute;
  width: 858px;
  height: 504px;
}

.main-section1 {
  padding-top: 10%;
}

.title-1 {
  font-weight: 700;
  font-size: 96px;
  text-transform: uppercase;
  color: #ffffff;
}

.title-2 {
  font-weight: 700;
  font-size: 96px;
  text-transform: uppercase;
  color: #d9ef0c;
}

.sub-title-1 {
  padding-top: 50px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
}

.sub-title-2 {
  padding-top: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
}
</style>
