<template>
  <div class="color-section-3">
    <v-container class="container-content">
      <!-- -----------------------------------------------
            Start Section 3
        ----------------------------------------------- -->
      <v-row class="main-section3" justify="center">
        <div class="title-section-3">
          <span> lorem </span>
          <span> ipsum </span>
        </div>
      </v-row>
      <v-row class="box-card-main">
        <v-col
          v-for="(products, index) in data"
          :key="index"
          lg="4"
          md="4"
          sm="4"
          cols="12"
        >
          <v-card class="card">
            <v-carousel
              height="236px"
              hide-delimiter-background
              show-arrows-on-hover
            >
              <v-carousel-item
                v-for="(item, i) in products.images"
                :key="i"
                :src="item"
                reverse-transition="fade-transition"
                transition="fade-transition"
              >
              </v-carousel-item>
            </v-carousel>
            <v-card-title class="title-card">
              {{ products.title }}
            </v-card-title>
            <v-card-subtitle class="sub-card">
              {{ products.description }}
            </v-card-subtitle>
          </v-card>
        </v-col>
      </v-row>
      <!-- -----------------------------------------------
            End Section 3
        ----------------------------------------------- -->
    </v-container>
  </div>
</template>
<script>
export default {
  name: 'SectionPage3',
  data() {
    return {
      name: 'Section3',
      data: [],
    }
  },

  mounted() {
    this.loadData()
  },

  methods: {
    loadData() {
      this.$axios
        .get('https://dummyjson.com/products?limit=3')
        .then((response) => {
          this.data = response.data.products
        })
    },
  },
}
</script>

<style lang="scss" scoped>
.color-section-3 {
  background-color: #d9ef0c;
}

.container-content {
  padding: 0px 150px 0px 150px;
}

.main-section3 {
  padding-top: 20%;
}

.title-section-3 {
  font-weight: 700;
  font-size: 60px;
  line-height: 82px;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.box-card-main {
  padding-top: 3%;
  padding-bottom: 20%;
}

.card {
  min-height: 400px;
  background-color: #ffffff;
}

.title-card {
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
  color: #000000;
}

.sub-card {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #333333 !important;
}
</style>
