<template>
  <div>
    <!-- -----------------------------------------------
          Start Header
    ----------------------------------------------- -->
    <v-app-bar class="app-header" flat elevate-on-scroll>
      <v-container class="py-0 fill-height">
        <!-- Logo -->
        <Logo />

        <v-btn class="d-block d-md-none" text @click="toggleClass()">
          <v-app-bar-nav-icon class="white--text" />
        </v-btn>
        <!-- Desktop view Navigation -->
        <div
          class="navigation"
          :class="[isActive ? 'd-block' : '']"
          @click="isActive = !isActive"
        >
          <ul class="navbar-nav">
            <li class="nav-item" text>
              <n-link class="nav-link" nuxt to="/"> lorem </n-link>
            </li>
            <li class="nav-item" text>
              <n-link class="nav-link" nuxt to="/"> lorem </n-link>
            </li>
            <li class="nav-item" text>
              <n-link class="nav-link" nuxt to="/"> loremipsum </n-link>
            </li>
            <li class="nav-item" text>
              <n-link class="nav-link" nuxt to="/"> lorem & ipsum </n-link>
            </li>
            <li class="nav-item" text>
              <n-link class="nav-link" nuxt to="/"> lorem </n-link>
            </li>
          </ul>
        </div>
      </v-container>
    </v-app-bar>
    <!-- -----------------------------------------------
          End Header
    ----------------------------------------------- -->
  </div>
</template>

<script>
export default {
  name: "HeaderTest",

  components: {
    Logo: () => import("@/layouts/sections/Logo")
  },
  data() {
    return {
      isActive: false
    };
  },
  methods: {
    toggleClass: function(event) {
      this.isActive = !this.isActive;
    }
  }
};
</script>
