<template>
  <div class="logo">
    <NLink to="/">
      <div>
        <v-img :src="require('@/assets/images/logos/Logo.png')" alt="logo" />
      </div>
      <div class="title-logo-main">
        <span class="title-logo-sub1">lorem</span><span class="title-logo-sub2">ipsum</span>
      </div>
    </NLink>
  </div>
</template>

<script>
export default {
  name: 'Logo',

  data() {
    return {}
  },
}
</script>

<style lang="scss">
.logo {
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
}

.title-logo-main  {
  padding-left: 5px;
}

.title-logo-sub1 {
  width: 181px;
  height: 29px;
  left: 256px;
  top: 59px;
  font-style: italic;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  text-shadow: 0px 4px 30px #21612f;
  color: #ffffff;
}

.title-logo-sub2 {
  width: 181px;
  height: 29px;
  left: 256px;
  top: 59px;
  padding-left: 5px;
  font-style: italic;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  text-shadow: 0px 4px 30px #21612f;
  color: #d9ef0c;
}
</style>
