<template>
  <v-app dark>
    <HeaderTest />
    <v-main class="pt-0">
      <Nuxt />
    </v-main>
  </v-app>
</template>

<script>
export default {
  components: {
    HeaderTest: () => import('@/layouts/sections/Header'),
  },
  head() {
    return {
      title: 'Test',
      meta: [
        {
          hid: 'description',
          name: 'Test NuxtJs UI',
          content: 'NuxtJs UI is the best way',
        },
      ],
    }
  },

  methods: {},
}
</script>

<style></style>
