<template>
<client-only>
  <div>
    <!-- -----------------------------------------------
    Section 1
    ----------------------------------------------- -->
    <Section1 />
    <!-- -----------------------------------------------
    ./ Section 1
    ----------------------------------------------- -->
    <!-- -----------------------------------------------
    Section 2
    ----------------------------------------------- -->
    <Section2 />
    <!-- -----------------------------------------------
    ./ Section 2
    ----------------------------------------------- -->
    <!-- -----------------------------------------------
    Section 3
    ----------------------------------------------- -->
    <Section3 />
    <!-- -----------------------------------------------
    ./ Section 3
    ----------------------------------------------- -->
    <!-- -----------------------------------------------
    contact
    ----------------------------------------------- -->
    <Contact />
    <!-- -----------------------------------------------
    ./ contact
    ----------------------------------------------- -->
    <!-- -----------------------------------------------
    Scroll
    ----------------------------------------------- -->
    <Scroll />
    <!-- -----------------------------------------------
    ./ Scroll
    ----------------------------------------------- -->
  </div>
</client-only>
</template>

<script>
export default {
  name:'Index',
  components: {
    Section1: () => import('@/components/Section1'),
    Section2: () => import('@/components/Section2'),
    Section3: () => import('@/components/Section3'),
    contact: () => import('@/components/contact'),
    Scroll: () => import('@/components/shared/scrollpage/Scrollup'),
  },
  layout: 'home-index',
  data() {
    return {
      fab: false,
    }
  },
}
</script>
